<%- include('./partials/header'); %>
<h1>Local Hoops
      <p>This is an app where you can check out and review local basketball courts in the Bay Area! </p>
</h1>
<%- include('./partials/footer'); %>


