<%- include('./partials/header'); %>

<div class="main-title">Local Hoops</div>
<div class="sub-title">This is an app where you can see, review and update basketball courts in the Bay!</div>
<div class="home-pic"></div>



<%- include('./partials/footer'); %>

