<%- include('./partials/header'); %>

<div class="main-title">Local Hoops</div>
<div class="sub-title">Hoops on hoops, courts on courts. I made this app to share, rate, and review all the courts that the Bay Area basketball community plays on. Share your local court on this app, tell us why it's so dope (or  not), and maybe hoopers will roll through and get some runs in. Send dem court deets.</div>
<div class="home-pic"></div>

<%- include('./partials/footer'); %>

