<%- include('./partials/header'); %>

<h1>Local Hoops</h1>
<p>This is an app where you can see, review and update basketball courts in the Bay!</p>
<img src="https://i.imgur.com/cICMDru.png" alt="">

<%- include('./partials/footer'); %>

