<%- include('../partials/header'); %>

<h3>Add New Courts Below!</h3>

<form action="/courts" method="POST">
  <label>Court Name:
    <input type="text" name="court"required> 
  </label>

  <label>Location:
      <input type="text" name="location"required> 
    </label>

  <label>Court Rating:
    <select name="courtRating">
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </label>

  <label>Upload Image:
    <input type="text" name="image">
  </label>
  
<button type="submit">Add </button>
</form>

<%- include('../partials/footer'); %>