<%- include('../partials/header'); %>

<section>
    <div>Court Name</div>
    <div><%= court.court %></div>
    <div>COURT OPEN DAYS</div>
    <div><%= court.courtDays</div>





</section>

<%- include('../partials/footer'); %>