<%- include('../partials/header'); %>

<section>
    <div>Court Name</div>
    <div><%= court.court %></div>
    <div>COURT RATING</div>
    <div><%= court.courtRating</div>





</section>

<%- include('../partials/footer'); %>